.scrabble {
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: -10;
    position: absolute;
    bottom: 5px;
}

.title {
    font-family: 'life savers', cursive;
    font-size: 24;
    border: hidden;
    }

.typewriter {
    width: 500px;
    height: 600px;
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: -5;
    border: 5px solid black;
}

.pad {
    width: 475px;
    height: 500px;
    position: absolute;
    top: 140px;
    left: 700px;
    z-index: -5;
    border: 5px solid black;
}

input[type=text] {
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-family: 'life savers', cursive;
    font-weight: bold;
}

.form {
    margin-left: 220px;
    font-family: 'life savers', cursive;
}

.results {
    margin-left: 50px;
    font-family: 'life savers', cursive;
    font-weight: bold;
}

#answer {
    position: absolute;
    z-index: 30;
    left: 760px;
    font-family: 'life savers', cursive;
    font-weight: bold;
    color: darkred;
}